{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" href="#">
                    <i class="fas fa-globe"></i> Webservices ATLAS</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#rec">Recette <span class="badge rounded-pill badge-notification bg-danger">1</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#prod">Production</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div class="input-group">
                            <div class="form-outline">
                                <input type="search" id="form" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}
